/*
	fonts
*/
@font-face {
font-family: "Lora";
src: url("fonts/Lora-Bold.ttf");
src:url("fonts/Lora-Light.ttf") ;
src:url("fonts/Lora-Regular.ttf");
}

@font-face {
font-family: "Dancing Script";
src: url("fonts/DancingScript-Bold.ttf");
src:url("fonts/DancingScript-Regular.ttf");
}

/*
# ------------------------------------------------------------------------------- #
*/

/*
	default form styles
*/

section .dForm {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding: 5%;
color: #006680;
border-radius: 5px;
}
.btn-primary {
background-color: #006680;
color: white;
border-color: #17A2B8;
}
.btn-primary:hover {
background-color: white;
color: #006680;
border-color: #17A2B8;
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.menuList {
		height: 100px;
	}
	.menuList h1 {
		font-size: 20px;
	}
	.menuList i{
		font-size: 30px;
		display: block;
	}

	/* modal styles */
	#empInfo {
		height: 280px;
	}
	#empInfo #info {
		display: block;
	}
	.easy-autocomplete {
		width: 100% !important;
	}
	
	/* dashboard */
	.filter input {
		margin-bottom: 2%;
	}
	.filter {
		height: 210px;
	}
	#filter {
		margin-left: 20px;
	}

	/* add employee */
	.dForm {
		height: 550px;
	}
	#submit {
		margin-top: 60px;
	}
	/* add user form */
	#addUserFrom {
		height: 680px !important;
	}
	
	.under-const i {
		font-size: 600% !important;
		margin-bottom: 5%;
	
	}
	/* footer */
	footer {
		height: 150px !important;
	}
}

/* Small devices (landscape phones, less than 768px )*/
@media screen and (min-width: 576px) and (max-width: 767px) {
	#eac-container-search li {
		width: 220px;
	}
	.eac-item {
		width: 100%;
	}
	.menuList {
		height: 130px;
	}
	.menuList h1 {
		font-size: 25px;
	}
	.menuList i{
		font-size: 35px;
	}
	/* modal styles */
	#empInfo {
		height: 280px;
	}

	/* dashboard */
	.filter input {
		margin-bottom: 2%;
	}
	.filter {
		height: 150px;
	}
	/* add employee */
	#dForm {
		height: 550px;
	}
	#submit {
		margin-top: 60px;
	}
}

/* Medium devices (tablets, less than 992px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
	#eac-container-search li {
		width: 220px;
	}
	.eac-item {
		width: 100%;
	}
	.menuList {
		height: 150px;
	}
	.menuList h1 {
		font-size: 30px;
	}
	.menuList i{
		font-size: 45px;
	}
	/* modal styles */
	#empInfo {
		height: 200px;
	}

	/* dashboard */
	.filter input {
		margin-bottom: 2%;
	}
	.filter {
		height: 100px;
	}
}

/* Large devices (desktops, less than 1200px) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	#eac-container-search li {
		width: 220px;
	}
	.eac-item {
		width: 100%;
	}
	.menuList {
		height: 160px;
	}
	.menuList h1 {
		font-size: 32px;
	}
	.menuList i{
		font-size: 50px;
	}
	/* modal styles */
	#empInfo {
		height: 200px;
	}
	/* dashboard */
	.filter input {
		margin-bottom: 1%;
	}

}
/* Large desktops */
@media screen and (min-width: 1200px) {
	.menuList {
		height: 200px;
	}
	.menuList h1 {
		font-size: 34px;
	}
	.menuList i{
		font-size: 60px;
	}
	/* modal styles */
	#empInfo {
		height: 180px;
	}
	/* dashboard */
	.filter {
		height: 60px;
	}
}

/*
# ------------------------------------------------------------------------------- #
*/


/*
	index.html ************* login page
*/


#logo {
	width: 100%;
	height: 30px;
	background-color: #006680;
	font-family: 'Dancing Script', cursive;
	border-radius: 5px;
	margin-bottom: 1%;
	text-align: center;
	color: white; 
}

#login-form {
	margin: 10% auto;
	padding: 3%;
	border-radius: 5px;
	border: 1px solid #80dfff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login-form button {
	border-color: #80dfff;
	background-color: #0086b3;
}

#login-form label {
	color: #006080;
}

#btn {
	display: inline-block;
}

.loader {
	margin: 0 auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #17A2B8; /* #0086b3 Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*
# ------------------------------------------------------------------------------- #
*/
/*
	header.html ************* navbar and main menu
*/

nav a {
	color: white !important;
}
.nav-link:hover {
	color: #e6faff !important;
	border-bottom: 1px solid #28A745;
}
.navbar-toggler {
	color: white !important;
	border-color: white !important;
}
.navbar-toggler-icon {
	color: white;
}

/* search auto complete styles */

.auto-item {
	width: 100%;
}
.auto-item img {
	width: 45px;
	height: 45px;
	display: inline-block !important;
}
.auto-item div {
	margin-left: 5%;
	display: inline-block !important;
}
.auto-item p {
	margin-top: 2%;
	margin-bottom: 0px;
}
.auto-item span {
	display: block;
	color: gray;
	font-size: 80%;
}
.dropdown-item {
	color: #006680 !important;
}


/*
# ------------------------------------------------------------------------------- #
*/
/*
	modal style
*/
#empInfo {
	margin: 0px auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#empInfo #img {
	display: inline-block;
	margin: 1%;
}
#img img {
	width: 100%;
}
#info {
	display: inline-block;
	padding: 15px;
overflow: hidden;
}
#empInfo p {
	margin-bottom: 1%;
	margin-left: 5px;
}
#name {
	font-size: 120%;
	color: #006680;
}
#address {
	color: #17A2B8;
}
#card_uid {
	color: gray;
	font-size: 90%;
}
#logs {
	margin-top: 15px;
}
#logs table tr, #logs table th {
	width: 25%;
	text-align: center;
}
#logs table th {
	border-bottom: 1px solid gray;
	color: #006680;
}
#logs table tr:hover {
	background-color: #f6f6f6;
	color: #17A2B8;
}

/*
# ------------------------------------------------------------------------------- #
*/
/*
	main menu
*/

#menu {
	margin: 10% auto;
	text-align: center;
}
.menuList {
	display: inline-block;
	background-color: white;
	margin: 1%;
	padding: 2%;
	text-align: center;
	color: #17A2B8;
	overflow: hidden;
	font-family: 'Lora', serif;
	border-radius: 5px;
	border: 1px solid #80dfff;
}
.menuList h1 {
}
.menuList i{
	display: block;
}

.menuList:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-decoration: none;
	background-color: #005266;
	color: white;
}

/* Open the sidenav */
 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #008fb3; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav .closebtn:hover {
    color: #006680;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav .closebtn {font-size: 18px;}
}

/*
# ------------------------------------------------------------------------------- #
*/

/*
	dashboard styles
*/

.filter {
	margin: 2% auto;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.filter form {
	margin: 0px auto;
}
.filter span {
	font-weight: bold;
	color: #006680;
}
#dashLogs {
	margin: 15px 0px;
}
#dashLogs table tr, #logs table th {
	width: 25%;
	text-align: center;
}
#dashLogs table th {
	border-bottom: 1px solid gray;
	background-color: #f6f6f6;
	color: #006680;
}
#dashLogs table tr:hover {
	background-color: #f6f6f6;
	color: #17A2B8;
}

# ------------------------------------------------------------------------------- #
*/

/*
	add User styles
*/

#dForm label{
	color: #006680;
}

/*
	add Employee styles
*/

.custom-file-input {
cursor: pointer;
}




/*
	block employee styles
*/
.block-item {
	width: 100%;
}
.block-item img {
	width: 45px;
	height: 45px;
	display: inline-block !important;
}
.block-item div {
	margin-left: 5%;
	display: inline-block !important;
}
.block-item p {
	margin-top: 5%;
	margin-bottom: 0px;
}
.block-item span {
	display: block;
	color: gray;
	font-size: 80%;
}

/*
# ------------------------------------------------------------------------------- #
*/
/*
	under construction styles
*/


.under-const {
	margin: 10% auto;
	text-align: center;
	width: 80%;
	padding: 3%;
}
.under-const i {
	font-size: 800%;
	color: #1F2534;
	
}
.under-const .text {
	font-size: 200%;
	margin-top: 5%;
	color: #636873;
}

/*
# ------------------------------------------------------------------------------- #
*/
/*
	footer styles
*/

footer {
    height: 100px;
    background-color: #17A2B8;
    color: white;
    text-align: center;
    font-size: 110%;
    font-family: 'Aref Ruqaa', serif;
}
footer ul {
	margin-bottom: 0px !important;
	margin: 0px auto;
}
footer li {
    display: inline-block;
    margin: 3px;
    padding: 5px;
    margin-top: 15px;
}
footer li:hover {
	color: #e6faff !important;
	border-bottom: 1px solid #008fb3;
}
footer a {
    color: white;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
footer span {
    font-family: 'Dancing Script', cursive;
}