<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/jquery.easy-autocomplete.js"></script>


  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script src="../static/js/bootstrap.min.js" type="text/javascript" ></script>

    <link href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/easy-autocomplete.css">
    <link rel="stylesheet" href="../static/css/easy-autocomplete.themes.css">

<script type="text/javascript" src="../static/js/javascript.js"></script>
<link rel="stylesheet" href="../static/css/stylesheet.css" type="text/css" />

<title>Access Control</title>

  </head>
    <body>

<!-- Modal -->
<div class="modal fade" id="empModal" tabindex="-1" role="dialog" aria-labelledby="modTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modTitle">Employee Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	 <div class="loader"></div> 
         <div id="empInfo" class="clearfix rounded">
   			<div id="img" class="float-left col-6 col-sm-5 col-md-4 col-xl-3">
   				<img class="rounded" src="">
   			</div>
   			<div id="info" class="float-right col-12 col-sm-6 col-md-7 col-xl-8">
   				<p id="name"></p>
   				<p id="address"></p>
   				<p id="card_uid"></p>
				<p style="text-align: center;" id="status"></p>
   			</div>
   	 </div>
	<div id="logs">
		 <table style="width:100%">
		  <tr>
		    <th>User Id</th>
		    <th>Scan Id</th>
		    <th>Scan Date</th>
		    <th>Scan Time</th>
		  </tr>
		</table> 
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

        <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #006680;">
          <a class="navbar-brand" onclick="openNav()" href="#"><i class="fab fa-windows"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse navbarSupportedContent">
            <ul class="navbar-nav mr-auto justify-content-end">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard <i class="fas fa-home"></i><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About <i class="fas fa-question-circle"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact') }}">Contact <i class="fas fa-at"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">LogOut <i class="fas fa-sign-out-alt"></i></a>
              </li>
            </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search By Name" aria-label="Search">
    </form>
            </div>
        </nav>

        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <div id="menu" class="col-12 col-sm-10 col-md-8 col-xl-6">
                <a href="{{ url_for('dashboard') }}" class="menuList col-10 col-sm-5 col-md-4 col-xl-3">
                      <h1>Dashboard</h1> <i class="fas  fa-home"></i>
                </a>
                <a href="{{ url_for('adduser') }}" class="menuList col-10 col-sm-5 col-md-4 col-xl-3">
                      <h1>Add User</h1> <i class="fas  fa-plus-circle"></i>
                </a>
                <a href="{{ url_for('addemployee') }}" class="menuList col-10 col-sm-5 col-md-4 col-xl-3">
                      <h1>Add Employee</h1> <i class="fas  fa-user-plus"></i>
                </a>
                <a href="{{ url_for('block') }}" class="menuList col-10 col-sm-5 col-md-4 col-xl-3">
                      <h1>Block Employee</h1> <i class="fas  fa-ban"></i>
                </a>
                <a href="{{ url_for('deleteuser') }}" class="menuList col-10 col-sm-5 col-md-4 col-xl-3">
                      <h1>Delete User</h1> <i class="fas  fa-trash-alt"></i>
                </a>
                <a href="{{ url_for('deleteemployee') }}" class="menuList col-10 col-sm-5 col-md-4 col-xl-3">
                      <h1>Delete Employee</h1> <i class="fas  fa-trash-alt"></i>
                </a>
                <a href="{{ url_for('about') }}" class="menuList col-10 col-sm-5 col-md-4 col-xl-3">
                      <h1>About</h1> <i class="fas  fa-question-circle"></i>
                </a>
                <a href="{{ url_for('contact') }}" class="menuList col-10 col-sm-5 col-md-4 col-xl-3">
                      <h1>Contact</h1> <i class="fas  fa-at"></i>
                </a>
		<a href="{{ url_for('settings') }}" class="menuList col-10 col-sm-5 col-md-4 col-xl-3">
                      <h1>Settings</h1> <i class="fas  fa-cog"></i>
                </a>
                <a href="{{ url_for('logout') }}" class="menuList col-10 col-sm-5 col-md-4 col-xl-3">
                      <h1>LogOut</h1> <i class="fas  fa-sign-out-alt"></i>
                </a>
          </div>
        </div>
        </header>
